<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>languageName</key>
		<string>Chinese, Simplified</string>
		<key>languageCode</key>
		<string>chi_sim</string>
	</dict>
    <dict>
        <key>languageName</key>
        <string>Chinese, Traditional</string>
        <key>languageCode</key>
        <string>chi_tra</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>English</string>
        <key>languageCode</key>
        <string>eng</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>French</string>
        <key>languageCode</key>
        <string>fra</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>German</string>
        <key>languageCode</key>
        <string>deu</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Italian</string>
        <key>languageCode</key>
        <string>ita</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Japanese</string>
        <key>languageCode</key>
        <string>jpn</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Polish</string>
        <key>languageCode</key>
        <string>pol</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Portuguese</string>
        <key>languageCode</key>
        <string>por</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Russian</string>
        <key>languageCode</key>
        <string>rus</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Spanish</string>
        <key>languageCode</key>
        <string>spa</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Swedish</string>
        <key>languageCode</key>
        <string>swe</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Danish</string>
        <key>languageCode</key>
        <string>dan</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Turkish</string>
        <key>languageCode</key>
        <string>tur</string>
    </dict>
</array>
</plist>
